In [134]:
# imports libraries
import pickle						# import/export lists
import re 							# regular expression
import math							# mathematical functions
import pandas as pd					# dataframes

In [135]:
# opens raw data
with open ('data_stories', 'rb') as fp:
    data_stories = pickle.load(fp)

In [136]:
# converts to dataframe
df = pd.DataFrame(data_stories)
df.columns = ['storyid', 'userid', 'cat', 'title', 'summary', 'info']

In [137]:
# finds userid from link
uid = re.compile("=(.*)$")
df.loc[df.userid != 'NA', 'userid'] = [uid.search(row).group(1) 
                                       for row in df.loc[df.userid != 'NA', 'userid']]

In [138]:
# splits up category and fandom
df['category'] = 'NA' 
df['fandom'] = 'NA'
df.loc[df.cat != 'NA', 'category'] = [row[0] for row in df.loc[df.cat != 'NA', 'cat']]
hasfandom = [type(row) is list and len(row) > 1 for row in df['cat']]
df.loc[hasfandom, 'fandom'] = [row[1] for row in df.loc[hasfandom, 'cat']]
del df['cat']

In [139]:
# splits info
df.loc[df.userid != 'NA', 'info'] = [row.split(' - ') 
                                     for row in df.loc[df.userid != 'NA', 'info']]

In [140]:
# retrieves rating
df['rated'] = 'NA'
df.loc[df.userid != 'NA', 'rated'] = [row[0]
                                     for row in df.loc[df.userid != 'NA', 'info']]
df.loc[df.userid != 'NA', 'info'] = [row[1:]
                                     for row in df.loc[df.userid != 'NA', 'info']]

In [141]:
# retrieves language
df['language'] = 'NA'
df.loc[df.userid != 'NA', 'language'] = [row[0]
                                     for row in df.loc[df.userid != 'NA', 'info']]
df.loc[df.userid != 'NA', 'info'] = [row[1:]
                                     for row in df.loc[df.userid != 'NA', 'info']]

In [142]:
# retrieves genre
isgenre = [type(row) is list and ': ' not in row[0] and row[0][0] != ' ' for row in df['info']]
df['genre'] = 'NA'
df.loc[isgenre, 'genre'] = [row[0]
                            for row in df.loc[isgenre, 'info']]
df.loc[isgenre, 'info'] = [row[1:]
                            for row in df.loc[isgenre, 'info']]

In [143]:
# retrieves characters
ischaracter = [type(row) is list and ': ' not in row[0] for row in df['info']]
df['characters'] = 'NA'
df.loc[ischaracter, 'characters'] = [row[0]
                            for row in df.loc[ischaracter, 'info']]
df.loc[ischaracter, 'info'] = [row[1:]
                            for row in df.loc[ischaracter, 'info']]

In [144]:
# retrieves chapters
ischapter = [type(row) is list and 'Chapters' in row[0] for row in df['info']]
df['chapters'] = 'NA'
df.loc[ischapter, 'chapters'] = [re.sub("\D", "", row[0])
                            for row in df.loc[ischapter, 'info']]
df.loc[ischapter, 'info'] = [row[1:]
                            for row in df.loc[ischapter, 'info']]

In [145]:
# retrieves words
iswords = [type(row) is list for row in df['info']]
df['words'] = 'NA'
df.loc[iswords, 'words'] = [re.sub("\D", "", row[0])
                            for row in df.loc[iswords, 'info']]
df.loc[iswords, 'info'] = [row[1:]
                            for row in df.loc[iswords, 'info']]

In [146]:
# retrieves reviews
isreviews = [type(row) is list and 'Reviews' in row[0] for row in df['info']]
df['reviews'] = 'NA'
df.loc[isreviews, 'reviews'] = [re.sub("\D", "", row[0])
                            for row in df.loc[isreviews, 'info']]
df.loc[isreviews, 'info'] = [row[1:]
                            for row in df.loc[isreviews, 'info']]

In [147]:
# retrieves favs
isfavs = [type(row) is list and 'Favs' in row[0] for row in df['info']]
df['favs'] = 'NA'
df.loc[isfavs, 'favs'] = [re.sub("\D", "", row[0])
                            for row in df.loc[isfavs, 'info']]
df.loc[isfavs, 'info'] = [row[1:]
                            for row in df.loc[isfavs, 'info']]

In [148]:
# retrieves follows
isfollows = [type(row) is list and 'Follows' in row[0] for row in df['info']]
df['follows'] = 'NA'
df.loc[isfollows, 'follows'] = [re.sub("\D", "", row[0])
                            for row in df.loc[isfollows, 'info']]
df.loc[isfollows, 'info'] = [row[1:]
                            for row in df.loc[isfollows, 'info']]

In [149]:
# retrieves updated
isupdated = [type(row) is list and 'Updated' in row[0] for row in df['info']]
df['updated'] = 'NA'
df.loc[isupdated, 'updated'] = [row[0]
                            for row in df.loc[isupdated, 'info']]
df.loc[isupdated, 'info'] = [row[1:]
                            for row in df.loc[isupdated, 'info']]

In [150]:
# retrieves published
ispublished = [type(row) is list and 'Published' in row[0] for row in df['info']]
df['published'] = 'NA'
df.loc[ispublished, 'published'] = [row[0]
                            for row in df.loc[ispublished, 'info']]
df.loc[ispublished, 'info'] = [row[1:]
                            for row in df.loc[ispublished, 'info']]

In [151]:
# retrieves status
isstatus = [type(row) is list and 'Published' in row[0] for row in df['info']]
df['status'] = 'NA'
df.loc[df.userid != 'NA', 'status'] = 'Incomplete'
df.loc[isstatus, 'status'] = [row[0]
                            for row in df.loc[isstatus, 'info']]
df.loc[isstatus, 'info'] = [row[1:]
                            for row in df.loc[isstatus, 'info']]

In [152]:
del df['info']

In [153]:
df

,storyid,userid,title,summary,category,fandom,rated,language,genre,characters,chapters,words,reviews,favs,follows,updated,published,status
0,36526,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
1,52417,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
2,54058,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
3,70618,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
4,87424,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
5,95917,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
6,106985,24686,Fractal Images (2 of 2),Sometimes you can't see the circles for the crops,TV Shows,X-Files,Rated: Fiction T,English,Romance,NA,NA,2242,2,1,NA,NA,Published: 11/6/2000,Incomplete
7,107154,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
8,127927,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
9,128600,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
10,129404,23158,Ripley's Recollection,Tom Ripley is in Italy with Marge and Dickie.....,Movies,Talented Mr Ripley,Rated: Fiction M,English,NA,NA,NA,1953,23,1,1,NA,Published: 12/3/2000,Incomplete
11,170368,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
12,172476,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
13,178799,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
14,192497,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
15,194222,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
16,244165,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
17,248716,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
18,249103,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
19,257196,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
20,273746,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
21,277734,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
22,280693,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
23,281143,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
24,288301,9099,Life isn't always a fairytale.,A poem about Harry's life so far. Check it out!,Books,Harry Potter,Rated: Fiction K,English,Poetry,NA,NA,539,10,NA,NA,NA,Published: 5/19/2001,Incomplete
25,304204,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
26,310910,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
27,321823,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
28,329728,14067,Ghosts,in which laine gets off her lazy arse and post...,Books,Harry Potter,Rated: Fiction M,English,Angst/Romance,"Draco M., Ron W.",10,5632,17,5,2,Updated: 12/29/2001,Published: 6/24/2001,Incomplete
29,335364,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,12317869,7464202,Professor Kim,Professor Kim adalah seorang professor yang te...,Plays/Musicals,Screenplays,Rated: Fiction M,Indonesian,Romance,NA,NA,2485,23,54,35,NA,Published: 1/11,Incomplete
971,12324721,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
972,12333832,8698205,One Piece-Why'd You go,"Ace died... no that's not right, it was Luffy ...",Anime/Manga,One Piece,Rated: Fiction M,English,Family/Hurt/Comfort,"Ace, Sabo, Straw Hats P.",NA,520,3,4,8,NA,Published: 1/22,Incomplete
973,12337499,1727177,Masters and Mothers,Being the Master of a guildhall is hard. Espec...,Anime/Manga,Fairy Tail,Rated: Fiction T,English,Family/Humor,"[Laxus D., Mirajane S.] Cana A., Kinana/Cubelios",3,9604,8,10,7,Updated: 2/20,Published: 1/25,Incomplete
974,12359929,4405031,El Intruso en Baker Street,Co- escrito con Gloria. Sherrinford debe queda...,TV Shows,Sherlock,Rated: Fiction K+,Spanish,Family,NA,NA,11146,1,1,1,NA,Published: 2/10,Incomplete
975,12393400,8240839,We are number one but it's Eglantine teaching ...,Donate to Stefan Karl's Year of Healing: /2tm9...,Games,Rhythm Heaven,Rated: Fiction K,English,Humor,NA,NA,321,1,NA,NA,Updated: 3/13,Published: 3/5,Incomplete
976,12395528,5128143,Home,Evelyn had cycled hundreds of children through...,Movies,Four Brothers,Rated: Fiction M,English,Family/Romance,"Evelyn M., Jack M., OC",9,12718,9,11,15,Updated: 6/24,Published: 3/7,Incomplete
977,12408952,6668637,Mobile Legend: Land Of Dawn,"Layla, who is a Malefic Gunner user, came to L...",Games,Mobile Legends: Bang bang,Rated: Fiction T,English,Adventure,NA,10,14374,32,5,8,Updated: 7/31,Published: 3/17,Incomplete
978,12422363,8027095,Lost Brothers,Amy Cahill and May Maple receive messages stat...,Pokémon + 39 Clues Crossover,NA,Rated: Fiction T,English,Adventure/Friendship,"[May/Haruka, Drew/Shū] [Amy C., Ian K.]",NA,1254,1,1,1,NA,Published: 3/27,Incomplete
979,12426872,5484011,Of Pirates and Huntsmen,"Trafalgar D. Water Law, captain of the heart p...",One Piece + RWBY Crossover,NA,Rated: Fiction T,English,Adventure/Fantasy,"T. Law, Team RWBY",6,13212,124,262,309,Updated: 6/29,Published: 3/30,Incomplete
980,12439527,7292559,Insurgent Uncovered,Sequel to Divergent Uncovered. The twelve are ...,Books,Divergent Trilogy,Rated: Fiction T,English,NA,"Tris/Beatrice P., Four/Tobias, Eric, Lynn",28,124509,419,118,149,Updated: 5/1,Published: 4/8,Incomplete
981,12450887,8881225,The Year and the Lips,After a year of dating Alya and Nino still hav...,Cartoons,Miraculous: Tales of Ladybug & Cat Noir,Rated: Fiction K,English,Romance/Humor,NA,2,984,5,1,6,Updated: 4/18,Published: 4/16,Incomplete
982,12451267,6780634,Between the Half Side,"Apakah memang takdirku seperti ini? ""Daging! D...",High School DxD/ハイスクールD×D + Tokyo Ghoul/東京喰種トー...,NA,Rated: Fiction M,Indonesian,Romance/Drama,"H. Akeno, Kaneki K./Haise S.",NA,1455,NA,NA,2,NA,Published: 4/16,Incomplete
983,12451739,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
984,12457754,8825216,Manipulation at its Finest,In which Haruhi is altogether much more cunnin...,Anime/Manga,Ouran High School Host Club,Rated: Fiction K,English,Humor,Haruhi F.,NA,917,5,17,4,NA,Published: 4/21,Incomplete
985,12462243,2420009,Front Page,Extra Extra Hear All About It! Senator Hino's ...,Anime/Manga,Sailor Moon,Rated: Fiction K,English,Romance/Family,"Jadeite/Jedite, Rei H./Raye/Sailor Mars, Taka...",2,2462,7,6,11,Updated: 5/2,Published: 4/24,Incomplete
986,12466498,927031,Dragon Age- The Awakening - Re-writing,It has been over a year since the defeat of th...,Games,Dragon Age,Rated: Fiction M,English,Romance/Fantasy,"Alistair, Cousland",3,15178,NA,3,6,Updated: 4/29,Published: 4/27,Incomplete
987,12468210,7753567,Territorial,Todo gato es muy territorial y Félix Agreste n...,Cartoons,Miraculous: Tales of Ladybug & Cat Noir,Rated: Fiction K+,Spanish,Humor,NA,NA,1380,13,37,16,NA,Published: 4/29,Incomplete
988,12484288,8632649,Life of Two Worlds,Princess Twilight's crown made it back after t...,Cartoons,My Little Pony,Rated: Fiction T,English,Friendship/Romance,"[Flash Sentry, Twilight Sparkle] Queen Chrysa...",2,2119,2,1,3,Updated: 5/24,Published: 5/11,Incomplete
989,12489943,4769966,Red Stallions,One improvised decision sent Minnie's whole wo...,Cartoons,Disney,Rated: Fiction T,English,Adventure/Romance,NA,2,11213,NA,5,4,Updated: 5/19,Published: 5/15,Incomplete
990,12518940,4057356,The Storm Pirates: SYOC Crew,Fifty years after the one piece was found by M...,Anime/Manga,One Piece,Rated: Fiction T,English,Adventure/Friendship,OC,7,34246,49,12,23,Updated: 7/31,Published: 6/5,Incomplete
991,12531369,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
992,12551544,6612341,Yours Until Dawn,After what happened at the Washington's cottag...,Games,Until Dawn,Rated: Fiction K+,English,Romance/Hurt/Comfort,"[Mike, Emily] [Chris, Ashley]",NA,1370,1,1,1,NA,Published: 6/29,Incomplete
993,12560581,1717628,The Songbird,All her life she was held within a cage. Lonel...,Anime/Manga,Naruto,Rated: Fiction M,English,Romance/Hurt/Comfort,"Akatsuki, OC",6,17315,6,9,21,Updated: 7/27,Published: 7/5,Incomplete
994,12563659,6676747,8:23 from Hamamatsu,In which Kurusu Akira catches a train to Tokyo...,Games,Persona Series,Rated: Fiction T,English,Suspense,"[Goro A., Protagonist]",NA,7983,3,8,6,NA,Published: 7/8,Incomplete
995,12564398,260108,A Night to Remember,"While Sorey slept, Mikleo kept loneliness at b...",Games,Tales of Zestiria,Rated: Fiction M,English,Humor/Romance,"[Mikleo, Sorey]",NA,4087,NA,1,1,NA,Published: 7/8,Incomplete
996,12572338,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
997,12583482,9330984,L'Océan était trop petit,Maha est une jeune femme de dix-sept ans qui f...,Anime/Manga,One Piece,Rated: Fiction K,French,Adventure/Friendship,"Ace, OC, Whitebeard Pirates",3,9380,5,3,7,Updated: 7/29,Published: 7/23,Incomplete
998,12595816,4572302,A tale after war,Han pasado cinco años desde que la gran guerra...,Games,Amour Sucré,Rated: Fiction T,Spanish,Romance/Fantasy,NA,NA,1430,8,NA,NA,NA,Published: 7/31,Incomplete
999,12598377,9504799,The Son of Darkness,"After countless failures, Ares decided to crea...",Comics,DC Superheroes,Rated: Fiction T,English,Angst/Adventure,NA,7,6277,1,1,NA,NA,Published: 8/2,Incomplete

In [154]:
# saves dataframe
df.to_pickle("df_stories")