In [69]:
# imports libraries
import pickle						# import/export lists
import re 							# regular expression
import math							# mathematical functions
import numpy as np
import pandas as pd					# dataframes

In [2]:
# opens raw data
with open ('data_stories', 'rb') as fp:
    data_stories = pickle.load(fp)

In [45]:
# converts to dataframe
df = pd.DataFrame(data_stories)
df.columns = ['storyid', 'userid', 'cat', 'title', 'summary', 'info']

In [46]:
# finds userid from link
uid = re.compile("=(.*)$")
df.loc[df.userid != 'NA', 'userid'] = [uid.search(row).group(1) 
                                       for row in df.loc[df.userid != 'NA', 'userid']]

In [47]:
# splits up category and fandom
df['category'] = 'NA' 
df['fandom'] = 'NA'
df.loc[df.cat != 'NA', 'category'] = [row[0] for row in df.loc[df.cat != 'NA', 'cat']]
hasfandom = [type(row) is list and len(row) > 1 for row in df['cat']]
df.loc[hasfandom, 'fandom'] = [row[1] for row in df.loc[hasfandom, 'cat']]
del df['cat']

In [63]:
# splits info
df.loc[df.userid != 'NA', 'info'] = [row.split(' - ') 
                                     for row in df.loc[df.userid != 'NA', 'info']]

In [72]:
# retrieves rating
df['rated'] = 'NA'
df.loc[df.userid != 'NA', 'rated'] = [row[0]
                                     for row in df.loc[df.userid != 'NA', 'info']]
df.loc[df.userid != 'NA', 'info'] = [row[1:]
                                     for row in df.loc[df.userid != 'NA', 'info']]

In [83]:
# retrieves language
df['language'] = 'NA'
df.loc[df.userid != 'NA', 'language'] = [row[0]
                                     for row in df.loc[df.userid != 'NA', 'info']]
df.loc[df.userid != 'NA', 'info'] = [row[1:]
                                     for row in df.loc[df.userid != 'NA', 'info']]

In [94]:
# retrieves genre
isgenre = [type(row) is list and ': ' not in row[0] and row[0][0] != ' ' for row in df['info']]
df['genre'] = 'NA'
df.loc[isgenre, 'genre'] = [row[0]
                            for row in df.loc[isgenre, 'info']]
df.loc[isgenre, 'info'] = [row[1:]
                            for row in df.loc[isgenre, 'info']]

In [98]:
# retrieves characters
ischaracter = [type(row) is list and ': ' not in row[0] for row in df['info']]
df['characters'] = 'NA'
df.loc[ischaracter, 'characters'] = [row[0]
                            for row in df.loc[ischaracter, 'info']]
df.loc[ischaracter, 'info'] = [row[1:]
                            for row in df.loc[ischaracter, 'info']]

In [100]:
# retrieves chapters
ischapter = [type(row) is list and 'Chapters' in row[0] for row in df['info']]
df['chapters'] = 'NA'
df.loc[ischapter, 'chapters'] = [row[0]
                            for row in df.loc[ischapter, 'info']]
df.loc[ischapter, 'info'] = [row[1:]
                            for row in df.loc[ischapter, 'info']]

In [ ]:
# the next item is either characters, chapters, or words
# genre does not contain ',' '.' or ':'
# characters contain space ' ' before and after

In [101]:
df

,storyid,userid,title,summary,info,category,fandom,rated,language,genre,characters,chapters
0,36526,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
1,52417,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
2,54058,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
3,70618,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
4,87424,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
5,95917,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
6,106985,24686,Fractal Images (2 of 2),Sometimes you can't see the circles for the crops,"[Words: 2,242, Reviews: 2, Favs: 1, Published:...",TV Shows,X-Files,Rated: Fiction T,English,Romance,NA,NA
7,107154,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
8,127927,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
9,128600,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
10,129404,23158,Ripley's Recollection,Tom Ripley is in Italy with Marge and Dickie.....,"[Words: 1,953, Reviews: 23, Favs: 1, Follows: ...",Movies,Talented Mr Ripley,Rated: Fiction M,English,NA,NA,NA
11,170368,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
12,172476,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
13,178799,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
14,192497,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
15,194222,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
16,244165,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
17,248716,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
18,249103,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
19,257196,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
20,273746,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
21,277734,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
22,280693,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
23,281143,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
24,288301,9099,Life isn't always a fairytale.,A poem about Harry's life so far. Check it out!,"[Words: 539, Reviews: 10, Published: 5/19/2001...",Books,Harry Potter,Rated: Fiction K,English,Poetry,NA,NA
25,304204,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
26,310910,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
27,321823,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
28,329728,14067,Ghosts,in which laine gets off her lazy arse and post...,"[Words: 5,632, Reviews: 17, Favs: 5, Follows: ...",Books,Harry Potter,Rated: Fiction M,English,Angst/Romance,"Draco M., Ron W.",Chapters: 10
29,335364,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...
970,12317869,7464202,Professor Kim,Professor Kim adalah seorang professor yang te...,"[Words: 2,485, Reviews: 23, Favs: 54, Follows:...",Plays/Musicals,Screenplays,Rated: Fiction M,Indonesian,Romance,NA,NA
971,12324721,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
972,12333832,8698205,One Piece-Why'd You go,"Ace died... no that's not right, it was Luffy ...","[Words: 520, Reviews: 3, Favs: 4, Follows: 8, ...",Anime/Manga,One Piece,Rated: Fiction M,English,Family/Hurt/Comfort,"Ace, Sabo, Straw Hats P.",NA
973,12337499,1727177,Masters and Mothers,Being the Master of a guildhall is hard. Espec...,"[Words: 9,604, Reviews: 8, Favs: 10, Follows: ...",Anime/Manga,Fairy Tail,Rated: Fiction T,English,Family/Humor,"[Laxus D., Mirajane S.] Cana A., Kinana/Cubelios",Chapters: 3
974,12359929,4405031,El Intruso en Baker Street,Co- escrito con Gloria. Sherrinford debe queda...,"[Words: 11,146, Reviews: 1, Favs: 1, Follows: ...",TV Shows,Sherlock,Rated: Fiction K+,Spanish,Family,NA,NA
975,12393400,8240839,We are number one but it's Eglantine teaching ...,Donate to Stefan Karl's Year of Healing: /2tm9...,"[Words: 321, Reviews: 1, Updated: 3/13, Publis...",Games,Rhythm Heaven,Rated: Fiction K,English,Humor,NA,NA
976,12395528,5128143,Home,Evelyn had cycled hundreds of children through...,"[Words: 12,718, Reviews: 9, Favs: 11, Follows:...",Movies,Four Brothers,Rated: Fiction M,English,Family/Romance,"Evelyn M., Jack M., OC",Chapters: 9
977,12408952,6668637,Mobile Legend: Land Of Dawn,"Layla, who is a Malefic Gunner user, came to L...","[Words: 14,374, Reviews: 32, Favs: 5, Follows:...",Games,Mobile Legends: Bang bang,Rated: Fiction T,English,Adventure,NA,Chapters: 10
978,12422363,8027095,Lost Brothers,Amy Cahill and May Maple receive messages stat...,"[Words: 1,254, Reviews: 1, Favs: 1, Follows: 1...",Pokémon + 39 Clues Crossover,NA,Rated: Fiction T,English,Adventure/Friendship,"[May/Haruka, Drew/Shū] [Amy C., Ian K.]",NA
979,12426872,5484011,Of Pirates and Huntsmen,"Trafalgar D. Water Law, captain of the heart p...","[Words: 13,212, Reviews: 124, Favs: 262, Follo...",One Piece + RWBY Crossover,NA,Rated: Fiction T,English,Adventure/Fantasy,"T. Law, Team RWBY",Chapters: 6
980,12439527,7292559,Insurgent Uncovered,Sequel to Divergent Uncovered. The twelve are ...,"[Words: 124,509, Reviews: 419, Favs: 118, Foll...",Books,Divergent Trilogy,Rated: Fiction T,English,NA,"Tris/Beatrice P., Four/Tobias, Eric, Lynn",Chapters: 28
981,12450887,8881225,The Year and the Lips,After a year of dating Alya and Nino still hav...,"[Words: 984, Reviews: 5, Favs: 1, Follows: 6, ...",Cartoons,Miraculous: Tales of Ladybug & Cat Noir,Rated: Fiction K,English,Romance/Humor,NA,Chapters: 2
982,12451267,6780634,Between the Half Side,"Apakah memang takdirku seperti ini? ""Daging! D...","[Words: 1,455, Follows: 2, Published: 4/16, id...",High School DxD/ハイスクールD×D + Tokyo Ghoul/東京喰種トー...,NA,Rated: Fiction M,Indonesian,Romance/Drama,"H. Akeno, Kaneki K./Haise S.",NA
983,12451739,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
984,12457754,8825216,Manipulation at its Finest,In which Haruhi is altogether much more cunnin...,"[Words: 917, Reviews: 5, Favs: 17, Follows: 4,...",Anime/Manga,Ouran High School Host Club,Rated: Fiction K,English,Humor,Haruhi F.,NA
985,12462243,2420009,Front Page,Extra Extra Hear All About It! Senator Hino's ...,"[Words: 2,462, Reviews: 7, Favs: 6, Follows: 1...",Anime/Manga,Sailor Moon,Rated: Fiction K,English,Romance/Family,"Jadeite/Jedite, Rei H./Raye/Sailor Mars, Taka...",Chapters: 2
986,12466498,927031,Dragon Age- The Awakening - Re-writing,It has been over a year since the defeat of th...,"[Words: 15,178, Favs: 3, Follows: 6, Updated: ...",Games,Dragon Age,Rated: Fiction M,English,Romance/Fantasy,"Alistair, Cousland",Chapters: 3
987,12468210,7753567,Territorial,Todo gato es muy territorial y Félix Agreste n...,"[Words: 1,380, Reviews: 13, Favs: 37, Follows:...",Cartoons,Miraculous: Tales of Ladybug & Cat Noir,Rated: Fiction K+,Spanish,Humor,NA,NA
988,12484288,8632649,Life of Two Worlds,Princess Twilight's crown made it back after t...,"[Words: 2,119, Reviews: 2, Favs: 1, Follows: 3...",Cartoons,My Little Pony,Rated: Fiction T,English,Friendship/Romance,"[Flash Sentry, Twilight Sparkle] Queen Chrysa...",Chapters: 2
989,12489943,4769966,Red Stallions,One improvised decision sent Minnie's whole wo...,"[Words: 11,213, Favs: 5, Follows: 4, Updated: ...",Cartoons,Disney,Rated: Fiction T,English,Adventure/Romance,NA,Chapters: 2
990,12518940,4057356,The Storm Pirates: SYOC Crew,Fifty years after the one piece was found by M...,"[Words: 34,246, Reviews: 49, Favs: 12, Follows...",Anime/Manga,One Piece,Rated: Fiction T,English,Adventure/Friendship,OC,Chapters: 7
991,12531369,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
992,12551544,6612341,Yours Until Dawn,After what happened at the Washington's cottag...,"[Words: 1,370, Reviews: 1, Favs: 1, Follows: 1...",Games,Until Dawn,Rated: Fiction K+,English,Romance/Hurt/Comfort,"[Mike, Emily] [Chris, Ashley]",NA
993,12560581,1717628,The Songbird,All her life she was held within a cage. Lonel...,"[Words: 17,315, Reviews: 6, Favs: 9, Follows: ...",Anime/Manga,Naruto,Rated: Fiction M,English,Romance/Hurt/Comfort,"Akatsuki, OC",Chapters: 6
994,12563659,6676747,8:23 from Hamamatsu,In which Kurusu Akira catches a train to Tokyo...,"[Words: 7,983, Reviews: 3, Favs: 8, Follows: 6...",Games,Persona Series,Rated: Fiction T,English,Suspense,"[Goro A., Protagonist]",NA
995,12564398,260108,A Night to Remember,"While Sorey slept, Mikleo kept loneliness at b...","[Words: 4,087, Favs: 1, Follows: 1, Published:...",Games,Tales of Zestiria,Rated: Fiction M,English,Humor/Romance,"[Mikleo, Sorey]",NA
996,12572338,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
997,12583482,9330984,L'Océan était trop petit,Maha est une jeune femme de dix-sept ans qui f...,"[Words: 9,380, Reviews: 5, Favs: 3, Follows: 7...",Anime/Manga,One Piece,Rated: Fiction K,French,Adventure/Friendship,"Ace, OC, Whitebeard Pirates",Chapters: 3
998,12595816,4572302,A tale after war,Han pasado cinco años desde que la gran guerra...,"[Words: 1,430, Reviews: 8, Published: 7/31, id...",Games,Amour Sucré,Rated: Fiction T,Spanish,Romance/Fantasy,NA,NA
999,12598377,9504799,The Son of Darkness,"After countless failures, Ares decided to crea...","[Words: 6,277, Reviews: 1, Favs: 1, Published:...",Comics,DC Superheroes,Rated: Fiction T,English,Angst/Adventure,NA,Chapters: 7

In [4]:
# splits tabs into individual columns
tabs = df['tabs'].apply(pd.Series).fillna('0')
tabs = tabs.apply(pd.to_numeric)
tabs.columns = [name[1:] for name in tabs.columns]
df = df.join(tabs)
del df['tabs']

In [5]:
# parses description column
df['status'] = 'inactive'
df.loc[['reader' in row for row in df['desc']], 'status'] = 'reader'
df.loc[['author' in row for row in df['desc']], 'status'] = 'author'
del df['desc']

In [6]:
# parses date column
df['join'] = [re.split(r'[-/]+', row) for row in df['join_date']]
valid = [row[0] != 'NA' for row in df['join']]

df['join_month'] = 'NA'
df.loc[valid, 'join_month'] = [row[0] for row in df['join'][valid]]

df['join_year'] = 'NA'
df.loc[valid, 'join_year'] = [row[2] for row in df['join'][valid]]
old_time = [len(row) == 4 for row in df.join_year]
df.loc[old_time, 'join_year'] = [row[2:] for row in df.loc[old_time, 'join_year']]

del df['join']

In [7]:
# saves dataframe
df.to_pickle("df_profile")